<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reliable Autos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <div class="col-lg-5 col-xl-5 col-md-5 col-sm-0 d-none d-md-flex img-col">
                
            </div>
            <div class="col-lg-7 col-xl-7 col-md-7 col-sm-12 main-col">

                <div class="login-column">
                    <div class="login-mod">
                        <div class="login-head text-center">
                            Reliable Autos Login
                        </div>
                        <form id="login-form" action="{{ url_for( 'admin.loginAction') }}" method="POST">
                            <div class="input-group my-4">
                                <input name="email" type="email" class="form-control" placeholder="email@example.com" required>
                            </div>
                            <div class="input-group my-4">
                                <input name="password" type="password" class="form-control password" placeholder="Password" required id="password">
                                <div class="input-group-append">
                                    <a href="#" class="btn make-visible" id="make-visible"><span><i class="fa fa-eye-slash mt-2" id="eye-icon"></i></span></a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-login">
                                Login
                                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            </button>
                        </form>

                        {% if error %}
                            <div class="d-flex justify-content-center"><small class="text-danger p-1 error-message">Something Ain't Right</small></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if "Error" not in message %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                {% if "Error" in message %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        document.getElementById('make-visible').addEventListener('click', e => {
            e.preventDefault();
            if ($('#eye-icon').hasClass('fa-eye-slash')) {
                $('#eye-icon').removeClass('fa-eye-slash');
                $('#eye-icon').addClass('fa-eye');
                Array.from(document.querySelectorAll('.password')).forEach(input => {
                    input.type = 'text'
                })
            } else {
                $('#eye-icon').addClass('fa-eye-slash');
                $('#eye-icon').removeClass('fa-eye');
                Array.from(document.querySelectorAll('.password')).forEach(input => {
                    input.type = 'password'
                })
            }
        })
    </script>

</html>